/* ===================================================
----- Mobile First -----
=================================================== */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: lightblue;
}












/* ===================================================
--- Medium devices (tablets, 760px and up) ---
=================================================== */









/* ===================================================
--- Large devices (large desktops, 1200px and up) ---
=================================================== */