/* ===================================================
----- Mobile First -----
=================================================== */

/* --- General Styles --- */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Merriweather', serif;
	font-size: 1em;
}

li {
	list-style: none;
}

button {
	background-color: rgb(78, 187, 181);
	color: #fff;
	font-size: 1.5em;
	width: 100%;
	border-radius: 5px;
	padding: 0.5em 0;
	font-family: inherit;
	border: none;
	cursor: pointer;
}

/* --- Wrappers --- */
.wrapper {
	width: 90%;
	margin: 0 auto;
}

/* --- Flexbox --- */
.flex {
	display: flex;
}

/* --- Header Section --- */
header {
	background-color: rgb(45, 57, 69);
	text-align: center;
}

h1 {
	text-transform: uppercase;
	color: #fff;
	padding: 1.5em 0;
	font-size: 1.1em;
}

/* --- Signup Section --- */
h2 {
	color: rgb(45, 57, 69);
	font-size: 1.1em;
}

.signup {
	text-align: center;
	padding: 1.5em 0 0 0;
}

.signup .wrapper {
	border-bottom: 5px solid rgb(45, 57, 69);
	margin-bottom: 0.2em;
}

.signup p {
	margin: 1em 0 2em 0;
}

p {
	color: gray;
}


/* === Form === */
/* --- Contact Information Section --- */
fieldset {
	border: none;
	font-weight: bold;
}

label {
	font-weight: normal;
	color: gray;
	font-size: 0.7em;
	margin-bottom: 0.4em;
}

.form .wrapper {
	border-top: 3px solid rgb(45, 57, 69);
}

.form-flex {
	display: flex;
	flex-wrap: wrap;
}

legend {
	padding: 1em 0;
}

.form-group {
	flex: 1 0 300px;
}

.form-fields li {
	display: flex;
	flex-wrap: wrap;
}

.form-fields input[type="text"],
.form-fields input[type="email"],
.form-fields input[type="tel"],
.form-fields input[type="number"],
.form-fields select,
.form-newsletter__receive input[type="checkbox"],
.form-newsletter__format input[type="radio"],
.form-newsletter__format textarea {
	flex: 1 0 230px;
	padding: 1em 0.8em;
	background-color: rgb(235, 235, 235);
	border: none;
	border-radius: 5px;
}

.form-fields input[type="text"]:focus,
.form-fields input[type="email"]:focus,
.form-fields input[type="tel"]:focus,
.form-fields input[type="number"]:focus,
.form-fields input[type="checkbox"]:focus,
.form-fields input[type="radio"]:focus,
.form-fields select:focus,
.form-newsletter__format textarea:focus {
	border: 1px solid rgb(45, 57, 69);
	background-color: rgb(230, 230, 230);
	outline: none;
}

label {
	flex: 1 0 100%;
}

.sub-heading {
	font-size: 0.8em;
}

.form-fields input,
.form-fields select,
.form-newsletter__format textarea {
	margin-bottom: 1em;
}

select{
 -webkit-appearance: none;
 -moz-appearance: none;
 appearance: none;
}

select:required:invalid {
  color: gray;
}

option[value=""][disabled] {
  display: none;
}

#zipcode {
	max-width: 120px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	font-style: italic;
	text-align: right;
}
::-moz-placeholder { /* Firefox 19+ */
  font-style: italic;
}
:-ms-input-placeholder { /* IE 10+ */
  font-style: italic;
}
:-moz-placeholder { /* Firefox 18- */
  font-style: italic;
}



/* --- Newsletter Section --- */
.form-newsletter__receive li {
	margin: 0.5em 0;
}

.form-group .form-newsletter__receive {
	margin-bottom: 1.5em;
}

.form-newsletter__format li {
	margin: 0.5em 0;
}

.form-newsletter__format li:nth-child(2) {
	margin-bottom: 1em;
}

.form-newsletter__format textarea {
	margin-top: 1em;
	width: 100%;
	height: 10em;
	border: none;
}

textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	text-align: left;
}
textarea::-moz-placeholder { /* Firefox 19+ */
  text-align: left;
}
textarea:-ms-input-placeholder { /* IE 10+ */
  text-align: left;
}
textarea:-moz-placeholder { /* Firefox 18- */
  text-align: left;
}


/* --- Footer Section --- */
footer p {
	font-style: italic;
	font-size: 0.9em;
	text-align: center;
	padding: 1.5em 0;
	font-weight: lighter;
}


/* ===================================================
--- Medium devices (tablets, 760px and up) ---
=================================================== */
@media screen and (min-width: 760px) {
	
	/* --- Wrappers --- */
	.wrapper {
		width: 50%;
	}

	/* === Form === */
	/* --- Contact Information Section --- */
	.form-fields li {
		margin-bottom: 1em;
	}

	.form-fields label {
		flex: 1 0 100px;
		margin: auto;
		max-width: 100px;
	}

	.form-fields input {
		margin: auto;
	}

	.form-fields select{
		margin-bottom: 0;
	}

	label[for="zipcode"] {
		margin-left: 0;
		margin-right: 0;
	}

	input#zipcode {
		margin-left: 0;
	}


	.newsletter label {
		font-size: 1em;
	}
	.sub-heading {
		font-size: 0.5em;
	}

}








/* ===================================================
--- Large devices (large desktops, 1200px and up) ---
=================================================== */
@media screen and (min-width: 1200px) {
	
	

}